# Database administrative login by UNIX sockets
# note: you may wish to restrict this further later
local   all         postgres                                peer

# TYPE  DATABASE    USER        CIDR-ADDRESS          METHOD
local   all         all                               scram-sha-256
host    all         all         0.0.0.0/0             scram-sha-256
host    all         all         ::/0                  scram-sha-256